body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $color-black;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}